<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>精选技能光效 (7)0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,496},{246,238}}</string>
                <key>offset</key>
                <string>{-25,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,54},{246,238}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (7)0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{300,248}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,50},{300,248}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (7)0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{288,252}}</string>
                <key>offset</key>
                <string>{-12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,47},{288,252}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (7)0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,252},{262,256}}</string>
                <key>offset</key>
                <string>{-19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,42},{262,256}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (7)0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,256}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,43},{284,256}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (7)0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,510},{292,238}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,53},{292,238}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (7)0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{302,236}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,57},{302,236}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (7)0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,750},{266,236}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,63},{266,236}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (7)0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,252},{278,242}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,68},{278,242}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (7)0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{258,222}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,62},{258,222}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (7)0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{276,228}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,58},{276,228}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (7)0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,736},{274,234}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,54},{274,234}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>精选技能光效 (7)0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,496},{154,176}}</string>
                <key>offset</key>
                <string>{50,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,125},{154,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>feng.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ced71590b3ab715941770b99548a3215$</string>
            <key>textureFileName</key>
            <string>feng.png</string>
        </dict>
    </dict>
</plist>
